{
  'extends': 'airbnb',
  'semi': ['error', 'never'],
  'env': {
    'browser': true,
    'node': true,
  },
  'parserOptions':{
    'ecmaFeatures': {
      'experimentalObjectRestSpread': true
    }
  }
}
