.flex-nowrap {
  flex-wrap: nowrap;
}

textarea:focus {
  outline: none;
}

.mono {
  font-family: 'Lucida Console';
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.f7 {
  font-size: .7rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1rem;
}
